<div class="container" style="padding-top:'20px'">
    <form>
        <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="registerUserData.first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="registerUserData.last_name" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="email"  [attr.disabled]="email_disabled ? '' : null" [(ngModel)]="registerUserData.email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" [(ngModel)]="registerUserData.password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" [(ngModel)]="registerUserData.confirm_password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="button" (click)="registerUser()" value="Submit">
    </form>
</div>